.container{
    height: 70vh;
    background-color: aqua;
    position: relative;
}
.ball{
    height: 70px;
    width: 70px;
    position: absolute;
    background-color: red;
    border-radius: 100px;
    bottom: 0;
    animation: animationX 4s linear infinite, animationY 0.65s ease-out infinite alternate;

}
@keyframes animationX {
    from{
        left: 0;
    }
    to{
        left: 100% ;
    }
    
}
@keyframes animationY {
    from{
        bottom: 0;
    }
    to{
        bottom: 100%;
    }
    
}